
<div class="login-layout animated fadeIn faster">
  <header class="login-header">
    <img class="header-icon" src="../../assets/logo_white.svg">
  </header>

  <div class="login-body">
    <div class="row" style="height: 100%; ">

      <div class="col-7 align-self-center">
        <div class="row justify-content-center" style="text-align: center;">
          <h1>构建万物互联的智慧世界</h1>
          <p>BUILDING A SMART WORLD</p>
        </div>
      </div>
      
      <div class="col-5 align-self-center">
        <div class="container">

          <div class="card" style="background: transparent; border-width: 0;">
            <h1 style="margin: 0; padding-bottom: 1vh;">用户登录</h1>
          </div>
          
          <div class="card login-card">

            <div class="card-body">
              <div class="row">
                <h2 style="color:#0f1642"> 账号密码登录 </h2>
              </div>

              <div class="row">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input placeholder="邮箱" type="email" formControlName="email" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <input placeholder="密码" type="password" formControlName="password" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                  </div>
                  <br>
                  <label *ngIf="error" style="color:red; padding-top:0.7em;">{{error}}</label>
                  <button [disabled]="loading" class="btn login-btn">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      登录
                  </button>
                </form>
              </div>

              <div class="row justify-content-end" style="padding-top: 3vh;">
                <div class="col align-self-center" style="text-align: end;">
                  <a routerLink="../find_pw" class="card-link"> 忘记密码 </a>
                  <a routerLink="../signup" class="card-link"> 新用户注册 </a>
                </div>
              </div>
            </div>

          </div>

          <div class="card" style="background: transparent; border-width: 0;">
            <div class="row ">
              <div class="col-">

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <footer class="login-footer">
    <div class="row footer-row justify-content-center">
      <div class="col-10 text-center">
        <a class="bottom-text first-child">联系我们</a>
        <a class="bottom-text">029-87763663</a>
        <a class="bottom-text">jiamazhihuiwulian@quantonggroup.com.cn</a>
        <a class="bottom-text">陕西省西安市未央区北二环海沃新能源汽车产业综合体</a>
      </div>
    </div>
    <!-- <button type="button" class="btn btn-primary" (click)="logout()">登出测试</button> -->
  </footer>
  
</div>

  