<div class="row justify-content-start">
    <div class="container">
        <h1 style="margin: 0;">车辆询价</h1>
    </div>
</div>
<div class="row search-row align-items-center">
    <div class="col-1">
        <label for="cargoName">出场年份</label>
    </div>
    <div class="col-2">
        <input type="password" class="form-control" id="cargoName">
    </div>
    <div class="col-1">
        <label for="cargoType">车辆品牌</label>
    </div>
    <div class="col-2">
        <input type="password" class="form-control" id="cargoType">
    </div>
    <div class="col-1">
        <label for="shippingReq">车辆型号</label>
    </div>
    <div class="col-2">
        <input type="password" class="form-control" id="shippingReq">
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-light search-button">搜索</button>
    </div>
</div>