<div class="row justify-content-start">
    <div class="container">
        <h1 style="margin: 0;">货运抢单</h1>
    </div>
</div>
<div class="row content-row">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container task-container">
                <div class="card">
                    <div class="card-header">
                        <div class="row g-0">
                            <div class="col-6 align-items-center">
                                <h2 style="color: rgb(0, 146, 78); text-align: center">起点</h2>
                            </div>
                            <div class="col align-items-center"
                                style="text-align: center;">
                                <!-- <i class="fa fa-angle-double-right"></i> -->
                            </div>
                            <div class="col-6 justify-content-center">
                                <h2 style="color: rgb(255, 164, 27); text-align: center">终点</h2>
                            </div>
                            
                        </div>
                        <div class="row g-0">
                            <div class="col-6 justify-content-center">
                                <h2 style="text-align: center;">{{demoTask.start}}</h2>
                            </div>
                            <div class="col-6 justify-content-center">
                                <h2 style="text-align: center;">{{demoTask.end}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container detail-container">
                            <div class="row g-0 justify-content-end">
                                <div class="col">
            
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    <p>货物内容：</p>
                                </div>
                                <div class="col-10">
                                    <p>{{demoTask.cargoContent}}</p>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    <p>货物单价：</p>
                                </div>
                                <div class="col-10">
                                    <p>{{demoTask.unitePrice}}</p>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    <p>发布车数：</p>
                                </div>
                                <div class="col-10">
                                    <p>{{demoTask.carNumber}}辆</p>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    <p>拉货车数：</p>
                                </div>
                                <div class="col-10">
                                    <p>{{demoTask.requiredCar}}辆</p>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="col-2">
                                    <p>发布时间：</p>
                                </div>
                                <div class="col-10">
                                    <p>{{demoTask.timestamp}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="container ">
                            <div class="row justify-content-between">
                                <div class="col-2">
                                    运费总计
                                </div>
                                <div class="col-2">
                                    <div class="price-tag">
                                        {{demoTask.price}} 元
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row justify-content-between">
                            <div class="col-3">
                                <button type="button" class="btn btn-secondary action-button"
                                    (click) = "goToAllBidableCargo()"
                                >返回</button>
                            </div>
                            <div class="col-3">
                                <button type="button" class="btn btn-success action-button"
                                    (click) = "bidCargo()"
                                >抢单</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
