<div class="findpw-layout animated fadeIn faster">
    <header class="page-header"> 
        <img class="header-icon" src="../../assets/logo_white.svg">
    </header>

    <div class="page-body">
        <div class="row justify-content-center no-gutters">
            <div class="col-3" style="padding-right: 0;padding-left: 0;">
                <div class="card step-card">
                    <div class="card-body align-self-center"
                        style="font-size: 3vh;"
                    >
                        1、输入注册邮箱
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-right: 0;padding-left: 0;">
                <div class="card step-card">
                    <div class="card-body align-self-center"
                        style="font-size: 3vh;"
                    >
                        2、输入验证码
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-right: 0;padding-left: 0;">
                <div class="card step-card">
                    <div class="card-body align-self-center" 
                        style="font-size: 3vh;"
                    >
                        3、输入新密码
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" style="height: 60%; margin-top: 10vh;">
            <div class="col-6">
                <div class="container">
                    <div class="card login-card">
          
                        <div class="card-body">
                            <div class="row">
                                <h2 style="color:#0f1642"> 请登录 </h2>
                            </div>
            
                            <div class="row">
                                <form [formGroup]="refindForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <input placeholder="您的注册邮箱" type="email" formControlName="email" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input placeholder="确认邮箱" type="email" formControlName="emailConfirm" class="form-control form-field" [ngClass]="{ 'is-invalid': submitted && f.emailConfirm.errors }" />
                                        <div *ngIf="submitted && f.emailConfirm.errors" class="invalid-feedback">
                                            <div *ngIf="f.emailConfirm.errors.required">Email is required</div>
                                        </div>
                                    </div>
                                    <br>
                                    <label *ngIf="error" style="color:red; padding-top:0.7em;">{{error}}</label>
                                    <button [disabled]="loading" class="btn submit-button">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            找回密码
                                    </button>
                                </form>
                            </div>
                        </div>
          
                    </div>
          
                    <div class="card" style="background: transparent; border-width: 0;">
                        <h2 style="margin: 0;"></h2>
                    </div>
          
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer">
        <div class="row footer-row justify-content-center">
            <div class="col-10 text-center">
                <a class="bottom-text first-child">联系我们</a>
                <a class="bottom-text">029-87763663</a>
                <a class="bottom-text">jiamazhihuiwulian@quantonggroup.com.cn</a>
                <a class="bottom-text">陕西省西安市未央区北二环海沃新能源汽车产业综合体</a>
            </div>
          </div>
    </footer>
</div>