<div class="row justify-content-start">
    <div class="container">
        <h1 style="margin: 0;">我的车辆</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-end">

        <div class="col-2"> 
            <button type="button" class="btn btn-success"
                style="width: 100%;">
                添加新车</button>
        </div>
    </div>
</div>
<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">车牌号</th>
            <th scope="col">生产年份</th>
            <th scope="col">品牌</th>
            <th scope="col">型号</th>
            <th scope="col">编辑</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">陕A76A87</th>
            <td>2018</td>
            <td>上汽通用五菱</td>
            <td>五菱宏光VV</td>
            <td>
                <button type="button" class="btn btn-light mod-button">编辑</button>
            </td>
          </tr>
          <tr>
            <th scope="row">陕A63079</th>
            <td>2018</td>
            <td>上汽通用五菱</td>
            <td>五菱宏光VV</td>
            <td>
                <button type="button" class="btn btn-light mod-button">编辑</button>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>